body{
	margin: 0;
    /*background-color: #14161A;*/
}
/*label,h2,h1{
    color: #ffffff;
}*/
.logo{
	width: 100%;
	height: 160px;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
}
.row-top-margin { 
	margin-top:10px;
}

.card-container{
    display: inline-block;
    background-color: #337ab7;
    border-radius: 8px;
    width: 87px;
    height: 119px;
    margin-left: 2px;
}

 .card {
    box-sizing:border-box;
    display: inline-block;
    width: 85px;
    height: 117px;
    background-color: #337ab7;
    color: white;
    font-size: 2em;
    line-height: 64px;
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    border-style: solid;
    border-color: #ffffff !important;
    border-width: 4px;
    left: 1px;
    right: 1px;
    top:1px;
    bottom: 1px;
    position: relative;
  }
 .card:hover,
 .card:focus {
 	background-color: #286090;
    background-position: 0 -30px;
    border-color: transparent;
    -webkit-transition: background-position 0.1s ease;
       -moz-transition: background-position 0.1s ease;
        -ms-transition: background-position 0.1s ease;
         -o-transition: background-position 0.1s ease;
            transition: background-position 0.1s ease;
  }
   .card-small {
    display: inline-block;
    width: 28px;
    height: 42px;
    margin-top: -9px;
    margin-right: 1px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #A2A2A2;
    -webkit-border-radius: 0.2em;
            border-radius: 0.2em;
    background-color: #337ab7;
    color: white;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    line-height: 42px;
  }
  span.waiting{
  	background-image: url("../img/loader.gif");
  	background-repeat: no-repeat;
  	padding-left: 20px;
  }

  .custom-width {
    width: 225px;
  }

  label.user-name {
    max-width: 50%;
    word-break: break-word;
  }

  .card-label {
    position: absolute;
    top: 25px;
    font-size: 12px;
    left: 0px;
    height: 100%;
    white-space: break-spaces;
    width: 100%;
    line-height: initial;
  }