<div ng-show="!joined">
	<div class="row row-top-margin">
		<div class="col-md-12">
			<h2 class="form-signin-heading">Enter to room {{roomId}}</h2>
			<label for="txtName" class="sr-only">Name</label>
			<input type="text" id="txtName" ng-model="name" name="name" class="form-control" placeholder="name" required="" autofocus="">
			<button class="btn btn-lg btn-primary btn-block" ng-click="join()">Join</button>
		</div>
	</div>
</div>
<div ng-show="joined" class="container-fluid ng-hide">
	<header>
		<h3><b>Welcome to room {{roomId}} {{name}}</b></h3>
	</header>
	<div class="row row-top-margin">
		<div class="col-md-12">
			<label>Deck :</label>
			<select class="dropdown-deck" ng-model="selectedDeck" ng-change="changeDeck()">
				<option ng-repeat="deck in decks" ng-attr-value="{{deck}}">{{deck}}</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="row row-top-margin">
				<div class="col-md-9">
					<div ng-repeat="card in cards" class="card-container">
						<div class="card col-md-4" ng-click="estimate(card)">{{card}}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row row-top-margin">
				<label>Your current estimation : </label>
				<div class="card-small">
					{{currentEstimation}}
				</div>
			</div>
			<div class="row row-top-margin">
				<input type="button" class="btn btn-primary" value="Flip cards" ng-click="flipCards()" />
				<input type="button" class="btn btn-success" value="Clear estimations" ng-click="cleanEstimations()"
				/>
			</div>
			<div class="row row-top-margin">
				<ul class="list-group custom-width">
					<li class="list-group-item" ng-repeat="user in users">
						<label>{{user.name}}&nbsp:</label>
						<span class='pull-right' ng-show="!user.estimation" ng-class="{waiting: user.estimation==''}">&nbsp</span>
						<div class="pull-right card-small" ng-show="user.estimation">
							{{user.estimation}}
						</div>
					</li>
				</ul>
				<div ng-if="allAreEstimated()">
					<label>Points</label>
					<ul class="list-group custom-width">
						<li class="list-group-item" ng-repeat="card in points">
							<div class="card-small">
								{{card.points}}
							</div>
							<span class='pull-right'>{{card.count}}</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>