<div ng-controller="HomeController">
	<div class="row">
		<div class="col-md-6 col-md-offset-4">
			<div class="logo"></div>
		</div>
	</div>
	<div class="row row-top-margin">
		<div class="col-md-12">
			<label>ROOM</label>
			<input
				id="txtRoom"
				type="text"
				ng-model="roomName"
				name="roomName"
				class="form-control"
				placeholder="Room"
				required=""
				autofocus=""
			/>
			<br />
			<a class="btn btn-lg btn-primary btn-block" href="{{getRoom()}}">Enter</a>
		</div>
	</div>
</div>